/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Mar-2015, 11:56:33
    Author     : Abel
*/

/*universal styles*/
body{
    text-align: center;
    margin-top: 0px;
    padding: 50px;
    height: auto;
    font-family: Arial, Sans-serif;
    background-color: #FFFEF6;
}
label{
    font-weight: bold; 
    font-family: Arial; 
    font-size: 17px; 
    display: inline-block;
    width: 100px; 
    text-align: left;
}
input{
    color:#ff0000;
    border-style:solid;
    font-weight:bold;
    width:230px;
    border-color: #000000;
}

/*Login index*/
#loginForm{ 
    display: block;
    vertical-align: text-top;
}
#login{
    font-size:30px;
}
